<section class="aboutMe_wrapper">
    <div class="aboutMe_wrapper__img_container">
      <h2 class="aboutMe_wrapper__img_container__title">&lt;/About Me&gt;</h2>
    </div>
  
    <div class="aboutMe_wrapper__bio_wrapper">
      <p>
        I have over 5 years of experience as a developer working with companies in Costa Rica in the tech sector. Throughout my career, I have worked on projects involving AEM, 
        responsive HTML5 email development, animated banners and front-end development. I am passionate about continuous learning, and I enjoy taking on new challenges to enhance my skills and knowledge.
      </p>
  
      <p>
        In addition, I hold a technical degree in Business Informatics and Web
        Development, and I am currently studying Computer Software Engineering at
        Fidélitas University. I am excited to continue gaining experience that will
        allow me to grow as a programmer.
      </p>
      <a href="https://ari-rm21.github.io/git-resume/" target="_blank" class="custom-button">View More</a>
    </div>
  </section>
  
  <section class="topSkils_wrapper">
    <div class="container">
      <h2 class="topSkils_wrapper__heading-secondary">
       My top Skills
      </h2>
    </div>

  </section>