<section class="wrapper" id="home-section">
    <div class="wrapper__img_container">
      <img src="../../../assets/images/profile_image.jpeg" alt="Profile Image">
    </div>
    <div class="wrapper__text_img">
      <h2 class="welcome-message"></h2>
    </div>
    <div class="socialIcons_container " >
      <a href="https://www.linkedin.com/in/ariana-rodriguez-38a362116/" target="_blank">
        <i class="bi bi-linkedin social-icon linkedin"></i>
       
    </a>
    <a href="https://github.com/ari-rm21" target="_blank" >
      <i class="bi bi-github social-icon github"></i>
    </a>
    </div>
  </section>
  