<section class="wrapper">
    <div class="wrapper__img_container">
      <img src="../../../assets/images/profile_image.jpeg" alt="Profile Image">
    </div>
    <h2 class="wrapper__text_img">
      <div class="welcome-message"></div>
    </h2>
    <div class="socialIcons_container">
      <a href="https://www.linkedin.com/in/ariana-rodriguez-38a362116/" target="_blank">
        <i class="bi bi-linkedin social-icon"></i>
       
    </a>
    <a href="https://github.com/ari-rm21" target="_blank">
      <i class="bi bi-github social-icon"></i>
    </a>
    </div>
  </section>
  