<header>
    <nav class="navegation">
        <div class="navegation__nav-icon" (click)="toggleMenu($event)">
               {{title}}
               <i class="bi bi-list showOnMobile"></i>
        </div>
        <ul [class.show]="menuOpen" class="navegation__nav-links">
            <li><a routerLink='/home' (click)="toggleMenu($event)">Home</a></li>
            <li><a routerLink='/about-me' (click)="toggleMenu($event)">About Me</a></li>
            <li><a routerLink='/projects' (click)="toggleMenu($event)">Projects</a></li>
            <li><a routerLink='/contact-me' (click)="toggleMenu($event)">Contact Me</a></li>
        </ul>
    </nav>
</header>



<router-outlet />
<app-footer></app-footer>